@using CUTFLI.Enums
@model CUTFLI.ViewModels.AppointmentsWithDate

<div id="PartialViewContainer">
    <div class=" py-2 d-flex justify-content-between">
        <div onclick="getAppointmentsByDate('@Model.StartDate.AddDays(-4).ToString("yyyy-MM-dd HH:mm:ss")')" class="text-white np">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
            </svg>
        </div>
        <div onclick="getAppointmentsByDate('@Model.StartDate.AddDays(4).ToString("yyyy-MM-dd HH:mm:ss")')" class="text-white np">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="26" height="26" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
        </div>
    </div>
    <div class="d-flex border border-2 rounded p-2 pt-3 overflow-scroll ">

    @foreach (var item in Model.Appointments)
    {

        <div class=" d-flex flex-column col-md-2 col-4 text-nowrap" >
                <h6 class="px-4 day text-center text-nowrap">
                @item.DayName
            </h6>
                <p class="text-center DayNumber text-nowrap">@item.DayNumber</p>
          
            @foreach (var appointment in item.Appointments)
            {
                <button class="border my-2 w-auto border-1 rounded mx-3 time  text-white" onclick="select(this,@appointment.Id)">
                    @DateTime.Today.Add(appointment.StartTime).ToString("hh:mm tt")

                    </button>
                }
            </div>
        }
    </div>
</div>
<script>
    function getAppointmentsByDate(date) {
        $.ajax({
            url: '/CutFli/GetAppointmentsByDate',
            type: 'GET',
            data: { date: date },
            success: function (result) {
                $('#PartialViewContainer').html(result);
            },
        });
    }

</script>