@model CUTFLI.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3"><span class="text-muted fw-light">Service /</span> Delete</h4>
    <div class="d-flex justify-content-end mb-3">
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>

    <div class="row py-5 d-flex justify-content-around align-items-center bg-white">
        <div class="col-sm-12 col-md-6 text-center mb-5">
            <img src="@("data:image/*;base64,"+Convert.ToBase64String(Model.Image))" class="img-fluid" alt="Image" />
        </div>
        <div class="col-6 col-md-3  d-flex justify-content-center">
            <div>
                <h6>Service Name :</h6>
                <p>@Model.Name</p>
                <h6>Price :</h6>
                <p>@Model.Price</p>
                <h6>Description :</h6>
                <p>@Model.Description</p>
            </div>
        </div>
        <div class="col-6 col-md-3  d-flex justify-content-center">
            <div>
                <h6>Created :</h6>
                <p>@Model.CreatedDate?.ToString("dd-MM-yyyy")</p>
                <h6>Gender :</h6>
                <p>@Model.Gender</p>
            </div>
        </div>
    </div>

</div>

