@model CUTFLI.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3"><span class="text-muted fw-light">Appointments /</span> Delete</h4>
    <div class="d-flex justify-content-end mb-3">
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-sm btn-secondary" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>

    <div class="row py-5 d-flex justify-content-around align-items-center bg-white">
        <div class="col-6 col-md-3  d-flex justify-content-center">
            <div>
                <h6>Date :</h6>
                <p>@Model.Date.ToString("dd-MM-yyyy")</p>
                <h6>Start Time :</h6>
                <p>
                    @(new DateTime(Model.StartTime.Ticks).ToString("hh:mm tt"))
                </p>
                <h6>Status :</h6>
                <p><span class="badge rounded-pill @Model.SetColor()">@Model.Status</span></p>
            </div>
        </div>
        <div class="col-6 col-md-3  d-flex justify-content-center">
            <div>
                <h6>Price :</h6>
                <p>@Model.Price</p>
            </div>
        </div>
    </div>

</div>
