@model IEnumerable<CUTFLI.ViewModels.AppointmentViewModel>

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }else{
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Appointment/</span> All Appointments</h4>
    <div class="d-flex justify-content-end mb-3">
        <form asp-action="Index" method="get" class="d-flex">
            <input type="date" value="@ViewData["value"]" class="form-control" name="currentDate" />
            <button type="submit" class="btn btn-sm btn-primary ms-2">Search</button>
        </form>
    </div>
    <div class="card">
        <h5 class="card-header">All Appointments</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentMethod)
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            Service
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(new DateTime(item.StartTime.Ticks).ToString("hh:mm tt"))
                            </td>
                            <td>
                                @(new DateTime(item.EndTime.Ticks).ToString("hh:mm tt"))
                            </td>
                            <td>
                                <span class="badge rounded-pill @item.SetColor()">@item.Status</span>
                            </td>
                            <td>
                                @(item.PaymentMethod == null ? '-' : item.PaymentMethod)
                            </td>
                            <td>
                                @if (item.People == null)
                                {
                                   <span>-</span>
                                }else{
                                    <a asp-controller="People" asp-action="Details" asp-route-id="@item.VistiorId">@item.People.FullName</a>
                                }
                            </td>
                            <td>
                                @item.User.FullName
                            </td>
                            <td>
                                @(item.Service == null ? '-' : item.Service.Name)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class='bx bx-detail me-1 text-dark'></i></a> |
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i></a> |
                                <a data-bs-toggle="modal" data-bs-target="@("#deleteDialog-"+item.Id)" data-url="@Url.Action($"Delete/{item.Id}")"><i class="bx bx-trash me-1 text-danger"></i></a>
                            </td>
                        </tr>
                        @await Html.PartialAsync("_deleteAppointment",item)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
