@model IEnumerable<CUTFLI.ViewModels.PeopleViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Customer/</span> All Customers</h4>

    <div class="card">
        <h5 class="card-header">All Customer</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i></a> |
                                <a data-bs-toggle="modal" data-bs-target="@("#deleteDialog-"+item.Id)" data-url="@Url.Action($"Delete/{item.Id}")"><i class="bx bx-trash me-1 text-danger"></i></a>
                            </td>
                        </tr>
                        @await Html.PartialAsync("_deleteCustomer",item)
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
