@model IEnumerable<CUTFLI.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Employee /</span> All Employees</h4>

    <div class="card">
        <h5 class="card-header">All Employees</h5>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                <img src="@("data:image/*;base64,"+Convert.ToBase64String(item.Image))" alt="Image" width="50" />
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class='bx bx-detail me-1 text-dark'></i></a> |
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit-alt me-1"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bx bx-trash me-1 text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
